:root {
  --brown: #6b5743;
  --browngray: #aca298;
  --beige: #fffdf1;
  --beginning: #afbccf;
  --success: #c1d9de;
  --health: #a9ddd0;
  --luck: #dae9b3;
  --wealth: #fcecae;
  --happiness: #ffdfbb;
  --love: #ffe4e4;
  --courage: #ddd4e5;
}
